<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.google.cordova.plugin.AdMobPlugin"
        version="0.0.2">

    <name>AdMobPlugin</name>
    <description>Google AdMob Plugin</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=2.9.0" />
	<engine name="cordova-android" version=">=3.0" />
    </engines>
    <!---->
    <js-module src="www/AdMob.js" name="AdMob">
        <clobbers target="window.AdMob" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
			android:name="com.google.android.gms.ads.AdActivity"
			android:theme="@android:style/Theme.Translucent" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="com.rjfun.cordova.admob.AdMobPlugin" />
		<param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

	<source-file src="src/android/libs/cordova-generic-ad.jar" target-dir="libs" />
	<source-file src="src/android/AdMobMediation.java" target-dir="src/com/rjfun/cordova/admob" />
        <source-file src="src/android/AdMobPlugin.java" target-dir="src/com/rjfun/cordova/admob" />
	<source-file src="src/android/CordovaPluginExt.java" target-dir="src/com/rjfun/cordova/ext" />
	<source-file src="src/android/PluginAdapterDelegate.java" target-dir="src/com/rjfun/cordova/ext" />

	<framework src="src/android/libs/googleFramework.jar" custom="true" />
    </platform>
</plugin>
